* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    background: #9A8FFA;
}

.profile{
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

header {
    background: #032344;
    color: #fff;
    padding: 50px;
    
}

nav {
    background: #555;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav a {
    color: white;
    padding: 15px;
    text-decoration: none;
}

nav a:hover {
    background: #222;
}

section {
    padding: 40px;
    background: #BBDAFC;
    margin: 50px 200px;
    border-radius: 8px;
}

h2 {
    margin-bottom: 15px;
    color: #333;
}

.project {
    background: #eee;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.seu{
    width: auto;
    height:500;
    border-radius: 10%;

}

button {
    padding: 10px 20px;
    border: none;
    background: #333;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #555;
}

footer {
    text-align: center;
    padding: 15px;
    background: #333;
    color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
    section {
        margin: 10px;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }
}
